# Explicit Folder Ignores
BungeeCord - 35565/modules
BungeeCord - 35565/BungeeCord.jar
BungeeCord - 35565/locations.yml
BungeeCord - 35565/modules.yml
BungeeCord - 35565/plugins
BungeeCord - 35565/proxy.log.0
BungeeCord - 35565/proxy.log.0.1
BungeeCord - 35565/server-icon.png
BungeeCord - 35565/config.yml
SENSITIVE DATA/

# Extension Ignores
*.lck
*.gz
*.schematic
*.schem
*.jar
*.bat

# Folder Wildcard ignores
**/cache
**/crash-reports
**/logs
**/world*
**/.console_history
**/eula.txt
**/help.yml
**/plugins/bStats
**/plugins/Denizen/midi/Denizen.mid
**/plugins/WorldEdit
**/banned-ips.json
**/banned-players.json
**/eula.txt
**/commands.yml
**/ops.json
**/help.yml
**/permissions.yml
**/usercache.json
**/version_history.json
**/wepif.yml
**/plugins/Denizen/scripts/Global Scripts/Just our Utilites LMAO/
**/plugins/LuckPerms/translations/*
**/whitelist.json
**/Denizen/config.yml
**/Denizen/maps.yml
**/Denizen/notables.yml
**/Denizen/player_flags/
**/Denizen/server_flags.dat
**/Denizen/scoreboards.yml
**/Denizen/scripts/Global Scripts/Third Party/
**/Denizen/run_later.yml
**/Depenizen/
**/LuckPerms/
**/Vault/
**/plugins/latest.txt
**/paper.yml
**/server.properties
**/secrets.secret
**/mcgen.txt
**/paper.yml-README.txt
**/config/legacy-backup/paper.yml.old
**/libraries
